<form action="http://localhost:3030/login/local" method="post" name="loginForm">
  <div>
	<input type="text" class="input-large" placeholder="Email" name="username"/><br/>
	<input type="password" class="input-large" placeholder="Password" name="password"/><br />
	<button id="btn_login" type="submit" class="btn btn-success">Login</button>
	<button type="button" class="btn" name="cancel"><a href="">Cancel</a></button>
	<div id="loginServicesTray">
	 <p>I forgot my...</p>
	 <br />
  	 <br />
    </div>
  </div>
</form>