<form action="http://localhost:3030/register" name="registerForm" method="post">
  <div>
  	<input type="text" class="input-large" placeholder="Name" name="name"/><br/>
	<input type="text" class="input-large" placeholder="Email" name="email"/><br/>
	<input type="password" class="input-large" placeholder="Password" name="password"/><br />
	<input id="btn_register" type="submit" class="btn btn-success" value="Start" />
	<button name="cancel" type="button" class="btn" class="cancel"><a href="">Cancel</a></button>
	<div id="loginServicesTray">
    </div>
  </div>
</form>